<!-- Sidebar Column -->
<div class="sidebar-container">
  <div class="sidebar-logo">
    <a href='/'><img src="<%= GAME_LOGO %>" alt="Logo" width="100%" height="auto"></a>
  </div>
  <div class="sidebar-content">
    <div class="sidebar">
      <h3>Levels</h3>
      <ul>
        <% levels.each do |level| %>
          <% if level['divider_before'] %>
            <li
              style="display: <%= level['previous'] ? 'none' : 'block' %>"
              class="sidebar-level-<%= level['id'] %>"
            ><h4><%= level['divider_before'] %></h4></li>
          <% end %>

          <li style="display: <%= level['previous'] ? 'none' : 'block' %>" class="sidebar-level-<%= level['id'] %>">
            <a href="/level/<%= level['id'] %>" id="<%= level['id'] %>">
              <%= level['name'] %>
            </a>
            <div class="checkmark-container" id="completed-<%= level['id'] %>"><span class="checkmark">✓</span></div>
            <div class="skipped-container" id="skipped-<%= level['id'] %>"><span class="skipped">&ndash;</span></div>
          </li>
        <% end %>
      </ul>
      <button id="clear" class="btn btn-sm btn-secondary">Clear</button>
      <button id="skip" class="btn btn-sm btn-primary" style="display: none">Skip</button>
    </div>
  </div>
</div>
