<%= erb :'partials/header', :locals => { title: level['name'] } %>
<body>
  <div class="container-fluid">
    <%= erb :'partials/sidebar', :locals => { levels: levels } %>

      <div class="main-content">
        <%= erb :'partials/level-header', :locals => { level: level } %>
        <%= erb :'components/text-description-show', :locals => { level: level } %>
      </div>
  </div>
  <%= erb :'partials/scripts' %>
  <script src="/text.js"></script>
</body>
</html>
